.side-bar
  .side-header
    .side-box
      masa
      .side-box__lists
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o.side-box__lists__icons--pen
        = link_to edit_user_path(current_user.id) do
          %i.fa.fa-cog.side-box__lists__icons--cog
  
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。