.side-bar
 .side-header
  .side-box
   %p.side-box__name terakawa
   %ul.side-box__lists
    %li.list
     = link_to "#", class: "side-box__btn" do
      = icon('fa', 'edit')
    %li.list
     = link_to "#", class: "side-box__btn" do
      = icon('fa', 'cog')

 .groups
  .group
   %p.group__name tech::camp
   %p.group__message まだメッセージがありません

  .group
   %p.group__name tech::exepart
   %p.group__message まだメッセージがありません
