.wrapper{
  height: 100vh;
  width: 100%; 
  display: flex;
  float: left;

.chat-main {
  width: calc(100% - 300px);
 
.main-header{
  height: 100px;
  background-color:#ffffff;
  border-bottom:1px solid #eeeeee;
  padding: 0 40px;
  justify-content: space-between;
  display: flex;

  &__left-box{
    margin-top:35px;
  }

   &__group-name{
    color: #333333;
    font-size:20px;
  }

   &__left-box__member-list{
    margin-top:15px;
    color: #999999;
    font-size:12px;
  }

  &__edit{
    height: 40px;
    width:72px;
    line-height:40px;
    border: 1px solid #38aef0;
    margin-top:28px;
    padding:0 20px;
    cursor: pointer;
    
    &__btn{
      font-size:16px;
      color:#38aef0;
      text-align: center;
      position: absolute;
      text-decoration:none;
   }
  }
 }

.messages{
  height: calc(100vh - 190px);
  background-color:#fafafa;
  padding:40px 35px;

  .message{
    padding-bottom:46px;
   &__info{
   display: flex;

    &__talker{
    color: #333333;
    font-size: 16px;
   }
    &__date{
    color: #999999;
    font-size: 12px;
    margin-left:10px;
   }
  }

   &__text{
    color: #434A54;
    font-size: 14px;
    margin-top:12px;
  }
 }
} 

.from{
  height: 90px;
  background-color:#d2d2d2;
  padding: 20px 40px ;

  .form__box{
    display: flex;
    width:100%;
 
    .form__box__message{
      height:50px;
      width:100%;
      position: relative;
      background-color:white;

     .form__box__message__text{
       padding:0px 40px 0px 10px;
       height:50px;
       width:100%;
     }

     .form__box__message__image{
      position:absolute;
      cursor: pointer;
      top: 15px;
      right: 10px;

     .form__box__message__image__point{
      display:none;
     }
    }
   }
   .form__submit{
    margin-left:15px;
    height:50px;
    width:100px;
    background-color:#38aef0;
    color:white;
    cursor: pointer;
    }
   }
  }
 }
} 